.timer-box {
    top: 10px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 30px;
}

.timer-box.yellow {
    color: yellow;
}

.timer-box.red {
    color: red;
}

#buzzer {
    font-size: 50px;
}

.timmer-start {
    animation-name: start-timer;
    animation-duration: 60s;
}

@keyframes start-timer {
    0%   {background-color: green;}
    33%  {background-color: yellow; color: black;}
    66%  {background-color: red; color: white;}
}
